#chat-screen {
    position: fixed;
    background-color: #abc1d1;
    height: 10000vh;
    width: 100%;
    box-sizing: border-box;
    top: 0;
}

.main-chat{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding : 0px 16px;
}

.chat__timestmap{
    color: white;
    background-color: #92a4b2;
    border-radius: 24px;
    padding: 16px;
    margin-bottom: 24px;
}

.message-row{
    width: 100%;
    display: flex;
    margin-bottom: 24px;

}

.message-row img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 16px;
}

.message__author{
    opacity: 0.8;
    font-size: 13px;
    margin-bottom: 8px;
    display: block;
}

.message__bubble{
    font-size: 24px;
    background-color: white;
    padding: 8px 10px;
    border-radius: 16px;
    border-top-left-radius: 0;
    margin-right: 12px;
}

.message__info {
    display: flex;
    align-items: flex-end;
}

.message__time{
    font-size: 8px;
    opacity: 0.6;
}

.message-row--own{
    justify-content: flex-end;
}

.message-row--own .message__bubble{
    background: var(--yellow);
    border-top-right-radius: 0;
    border-top-left-radius: 16px;
    margin-right: 0;
    margin-left: 4px;
}

.message-row--own .message__info {
    flex-direction: row-reverse;
}

.reply{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 5px 25px;
    align-items: center;
    box-sizing: border-box;
}

.reply .reply__column:first-child{
    width: 10%;
}

.reply .reply__column:last-child{
    width: 90%;
    position: relative;
}

.reply input{
    padding: 10px;
    width: 100%;
    border: var(--main-border);
    border-radius: 28px;
}

.reply__column:last-child > i,
.reply__column:last-child button{
    position: absolute;
    right: 0;
    top: 4px;
}

.reply__column:last-child > i{
    right: 36px;
    top: 12px;
    opacity: 0.7;
}

.reply__column button {
    background-color: var(--yellow);
    border: none;
    width: 28px;
    height: 28px;
    border-radius: 12px;
}

.reply__column button:focus,
.reply__column button:active{
    outline: none;
}